@import "../../../../app/styles/variables.scss";

.p-dialog {
    width: 800px;
}

.p-chip {
    margin: 2px;
}

.chambre-type img{
    width: 8%;
}.star-container {
    display: flex; /* Use flexbox to display stars horizontally */
    .pi {
        display: inline-block; 
        color:$secondary-color;
      }
  }
  
