<div class="container">
  <h2 class="title py-4">
    Gestion Des Foyers
    <button class="secondary-button" style="float: right" (click)="Add()">
      <span class="pi pi-plus" aria-hidden="true"></span> Ajouter un foyer
    </button>
  </h2>
  <span class="p-input-icon-right">
    <i class="pi pi-search"></i>

    <input
      pInputText
      type="text"
      class="p-column-filter"
      placeholder="Nom"
      #searchN
      (input)="onSearchByNom(searchN.value)"
    />
  </span>
  <div class="card p-4">
    <p-table
      #dt
      [value]="uniService.data"
      [rowHover]="true"
      columnResizeMode="expand"
      [rows]="5"
      styleClass="p-datatable"
      [showCurrentPageReport]="true"
      [paginator]="true"
      currentPageReportTemplate="{totalRecords} université(s)"
      [filterDelay]="0"
    >
      <ng-template pTemplate="headergrouped">
        <tr class="bg-white">
          <th>Nom</th>
          <th>Capacité</th>
          <th>Université</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-uni>
        <tr class="p-selectable-row">
          <td>{{ uni.nom }}</td>
          <td>{{ uni.capacite }}</td>
          <td>{{ uni.universite?.nom }}</td>

          <td class="action">
            <img
              src="../../../../assets/icon/edit.svg"
              alt="edit"
              (click)="Edit(uni.id)"
            />
            <img
              src="../../../../assets/icon/trash.svg"
              alt="trash"
              (click)="Delete(uni.id)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">Aucune université trouvée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation"></p-confirmDialog>
    <p-toast></p-toast>
  </div>
</div>
